.logoMarca{
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .logo{
    display: flex;
    align-items: right;
    justify-content: right;
    width: 60px;
    margin-right: 20px;
  }
  .nave {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: inset;
  }
  
  .navbar-collapse {
    display: flex;
    margin-top: 4px;
    margin-right: 15px;
    place-content: flex-end;
  
  }
  .user {
    width: 40px;
    right: 100px;
    
  }
  .jumbotron-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
  }
  .jumbotron-container div img{
    max-width: 100px;
    height: auto;
    
  }
  .jumbotron-container div h5{
    margin-left: 50px;
    
  }
  .jumbotron-container div h6{
    margin-left: 50px;
    
  }
  .jumbotron-container > div{
    display: flex;
  
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
  }
  
  .form-cadastro-cliente{
    align-items: left;
    left:100%;
    background-color: white;
    border-radius: 8px;
    padding: 50px;
    display: flex;
    justify-content: center;
  }
  
  .colUser img{
    border-radius: 100%;
    max-width: 50%;
    float: right;
  }
  
  .quadrado-paciente{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 8px;
    background: #f0f0f5;
    padding: 50px;
    width: 800px;
    margin-bottom: 150px;
  }
  
  