.logoMarca{
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .logo{
    display: flex;
    align-items: right;
    justify-content: right;
    width: 60px;
    margin-right: 20px;
  }
  
  .nav {
    display: flex; 
  }
  
  .outra{
    display: flex;
  }
  
  .nave {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: inset;
  }
  
  .navbar-collapse {
    display: flex;
    margin-top: 4px;
    margin-right: 20%;
    place-content: flex-end;
  
  }
  
  .itens {
    display: flex;
    align-items: center;  
    justify-content: center;
    right: 100px;
  }
  
  .user {
    width: 40px;
    right: 100px;
    
  }
  
  .pesquisa{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-bottom:20px;
  }
  
  .novo{
    margin-right: 2%;
    place-content: flex-end;
  }
  
  .botaoNovo{
    width: 100px;
  }
  
  .mb-3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .clientes{
    display: flex;
    margin-top: 20px;
  }
  
  .clientes p{
    display: flex;
    justify-content: initial;
    align-items: center;
    place-content: flex;
  
  }
  
  
  .button{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    
   
  }
  .buttontwo{
    border:thin;
  }
  
  .navbar .container,
  .navbar .container-fluid,
  .navbar .container-lg,
  .navbar .container-md,
  .navbar .container-sm,
  .navbar .container-xl {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /*border-left: groove;*/
  }
  
  .cliente{
   margin-left: 20px;
   width: 100px;
  }