.login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #f0f0f5;
    height: 500px;
    width: 500px;
    left:30%;
    position: relative;
    margin-top: 50px;
}
.container img{
    max-width: 200px;
    max-height: 100px;
    margin-top: -100px;
    margin-bottom: 50px;
}
.container{
    clear: both;
    margin-top: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.logo{
    vertical-align: top;
}