.logoMarca{
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.logo{
  display: flex;
  align-items: right;
  justify-content: right;
  width: 60px;
  margin-right: 20px;
}
.nave {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: inset;
}

.navbar-collapse {
  display: flex;
  margin-top: 4px;
  margin-right: 15px;
  place-content: flex-end;

}
.user {
  width: 40px;
  right: 100px;
  
}

.content1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f5;
  height: 500px;
  width: 1000px;
  left:13%;
  position: relative;
}

.mudaImg{
  bottom: -35px;
  justify-content: center;
  align-items: center;
  display: flex;
  right: 120px;
}
.conta{
  margin-bottom: 20px;
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border-top-style: ridge;
  padding: 20px;
}