  .nav {
    margin-bottom: 10px;
  }
  .caixa-box1{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;

  }
  .itens{
    float: right;
  }
  .save{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .pv{
    margin-bottom: 20px;
  }