
  .content-medico {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .quadrado-medico {
    border-radius: 8px;
    background: #f0f0f5;
    padding: 50px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .form-cadastro-cliente{
    align-items: left;
    left:100%;
    background-color: white;
    border-radius: 8px;
    padding: 50px;
    display: flex;
    justify-content: center;
  }
  
  .colUser img{
    border-radius: 100%;
    max-width: 50%;
    float: right;
  }
  .radio-button{
      margin-right: 20px;
      margin-left: 15px;
      margin-top: 10px;
  }
  .label-radio-button{
      padding: 0;
  }
  .button{
      width: 100%;
      margin: 16px 0 16px 0;
  }
    
  
  
  