.logoMarca{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
  
.logo{
    display: flex;
    align-items: right;
    justify-content: right;
    width: 60px;
    margin-right: 20px;
}
.nave {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: inset;
}
  
.navbar-collapse {
    display: flex;
    margin-top: 4px;
    margin-right: 15px;
    place-content: flex-end;
  
}
.user {
    width: 40px;
    right: 100px;
    
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
}
.quadrado-paciente{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 8px;
    background: #f0f0f5;
    padding: 50px;
    width: 1000px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.data{
    margin-left: -50px;
    width: 10%;
}

.horario{
    margin-left: -50px;
    width: 10%;
}

.anotacoes{
    margin-left: -35px;
}

.caixa{
    height: 80px;
    
}

.botao{
    margin-left: 835px;
}

.h2{
    margin-left: -20px;
}