.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f5;
    height: 400px;
    width: 80%;
    position: left;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    
}

  .titulo{
    position: absolute;
    width:50%;
    height:100%;
    margin-left: 9%;
    margin-top: 01%;
  }

  .botoes{
    align-items: center;
    margin-left: 20%;
    margin-top: 3%;
  }

  .logoMarca{
    display: flex;
    align-items: right;
    margin-left: 2%;
    margin-right: 2%;
    height: 10%px;
  
  }
  
  .logo{
    display: flex;
    align-items: right;
    justify-content: right;
    width: 10%;
    margin-right: 5%;
  }
  .nave {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: inset;
  }
  
  .navbar-collapse {
    display: flex;
    margin-top: 1,5%;
    margin-right: 3%;
    place-content: flex-end;
  
  }
  .user {
    width: 70%;
    right: 9%;
    
  }
  
  .colUser img{
    border-radius: 100%;
    max-width: 50%;
    float: right;
  }

.quadrado{
  position: relative;
  width:50%;
  height:20%;
}

.formulario{
margin-top: -20%;
}

.redefinir{
  text-align: center;
  margin-left: 15%;
  margin-bottom: 5%;
}

.itens{
  width: 15%;
  height: 100%;
}

.dropleft{
  position: relative;
  place-content: flex-end;
}

.buttontwo{
  position: relative;
  place-content: flex-end;
}

.nav{
  display: flex;
}
